body {
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-color: #a98556;
  color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}